--
-- PostgreSQL database dump
--

-- Dumped from database version 16.3
-- Dumped by pg_dump version 16.3

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO postgres;

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO postgres;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO postgres;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: community_productcomment; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.community_productcomment (
    id bigint NOT NULL,
    text text NOT NULL,
    created_at timestamp with time zone NOT NULL,
    parent_id bigint,
    product_id bigint NOT NULL,
    author_id bigint NOT NULL
);


ALTER TABLE public.community_productcomment OWNER TO postgres;

--
-- Name: community_productcomment_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.community_productcomment ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.community_productcomment_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: community_productreview; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.community_productreview (
    id bigint NOT NULL,
    text text NOT NULL,
    created_at timestamp with time zone NOT NULL,
    rating integer NOT NULL,
    product_id bigint NOT NULL,
    author_id bigint NOT NULL,
    CONSTRAINT community_productreview_rating_check CHECK ((rating >= 0))
);


ALTER TABLE public.community_productreview OWNER TO postgres;

--
-- Name: community_productreview_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.community_productreview ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.community_productreview_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: community_productreviewcomment; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.community_productreviewcomment (
    id bigint NOT NULL,
    text text NOT NULL,
    created_at timestamp with time zone NOT NULL,
    review_id bigint NOT NULL,
    author_id bigint NOT NULL
);


ALTER TABLE public.community_productreviewcomment OWNER TO postgres;

--
-- Name: community_productreviewcomment_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.community_productreviewcomment ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.community_productreviewcomment_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: community_usercomment; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.community_usercomment (
    id bigint NOT NULL,
    text text NOT NULL,
    created_at timestamp with time zone NOT NULL,
    author_id bigint NOT NULL,
    parent_id bigint,
    user_id bigint NOT NULL
);


ALTER TABLE public.community_usercomment OWNER TO postgres;

--
-- Name: community_usercomment_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.community_usercomment ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.community_usercomment_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id bigint NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO postgres;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO postgres;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO postgres;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO postgres;

--
-- Name: orders_cart; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.orders_cart (
    id bigint NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    user_id bigint
);


ALTER TABLE public.orders_cart OWNER TO postgres;

--
-- Name: orders_cart_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.orders_cart ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.orders_cart_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: orders_cartitem; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.orders_cartitem (
    id bigint NOT NULL,
    quantity integer NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    cart_id bigint NOT NULL,
    product_id bigint NOT NULL,
    CONSTRAINT orders_cartitem_quantity_check CHECK ((quantity >= 0))
);


ALTER TABLE public.orders_cartitem OWNER TO postgres;

--
-- Name: orders_cartitem_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.orders_cartitem ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.orders_cartitem_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: orders_order; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.orders_order (
    id bigint NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    status character varying(20) NOT NULL,
    user_id bigint NOT NULL,
    address character varying(255),
    contact_info character varying(255) NOT NULL,
    contact_method character varying(10) NOT NULL,
    delivery_method character varying(10) NOT NULL,
    price integer NOT NULL
);


ALTER TABLE public.orders_order OWNER TO postgres;

--
-- Name: orders_order_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.orders_order ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.orders_order_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: orders_orderitem; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.orders_orderitem (
    id bigint NOT NULL,
    quantity integer NOT NULL,
    price integer NOT NULL,
    order_id bigint NOT NULL,
    product_id bigint NOT NULL,
    CONSTRAINT orders_orderitem_quantity_check CHECK ((quantity >= 0))
);


ALTER TABLE public.orders_orderitem OWNER TO postgres;

--
-- Name: orders_orderitem_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.orders_orderitem ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.orders_orderitem_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: products_attribute; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.products_attribute (
    id bigint NOT NULL,
    name character varying(100) NOT NULL
);


ALTER TABLE public.products_attribute OWNER TO postgres;

--
-- Name: products_attribute_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.products_attribute ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.products_attribute_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: products_attributevalue; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.products_attributevalue (
    id bigint NOT NULL,
    value character varying(255) NOT NULL,
    attribute_id bigint NOT NULL
);


ALTER TABLE public.products_attributevalue OWNER TO postgres;

--
-- Name: products_attributevalue_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.products_attributevalue ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.products_attributevalue_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: products_category; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.products_category (
    id bigint NOT NULL,
    name character varying(100) NOT NULL,
    parent_id bigint,
    image character varying(100)
);


ALTER TABLE public.products_category OWNER TO postgres;

--
-- Name: products_category_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.products_category ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.products_category_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: products_favorite; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.products_favorite (
    id bigint NOT NULL,
    created_at timestamp with time zone NOT NULL,
    product_id bigint NOT NULL,
    user_id bigint NOT NULL
);


ALTER TABLE public.products_favorite OWNER TO postgres;

--
-- Name: products_favorite_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.products_favorite ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.products_favorite_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: products_filter; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.products_filter (
    id bigint NOT NULL,
    attribute_id bigint NOT NULL,
    category_id bigint NOT NULL
);


ALTER TABLE public.products_filter OWNER TO postgres;

--
-- Name: products_filter_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.products_filter ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.products_filter_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: products_pricehistory; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.products_pricehistory (
    id bigint NOT NULL,
    price integer NOT NULL,
    date_changed timestamp with time zone NOT NULL,
    product_id bigint NOT NULL
);


ALTER TABLE public.products_pricehistory OWNER TO postgres;

--
-- Name: products_pricehistory_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.products_pricehistory ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.products_pricehistory_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: products_product; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.products_product (
    id bigint NOT NULL,
    name character varying(100) NOT NULL,
    description text NOT NULL,
    price integer NOT NULL,
    count_of_orders integer NOT NULL,
    count_of_likes integer NOT NULL,
    category_id bigint,
    short_characteristics text NOT NULL,
    count integer NOT NULL
);


ALTER TABLE public.products_product OWNER TO postgres;

--
-- Name: products_product_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.products_product ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.products_product_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: products_productattribute; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.products_productattribute (
    id bigint NOT NULL,
    attribute_value_id bigint NOT NULL,
    product_id bigint NOT NULL
);


ALTER TABLE public.products_productattribute OWNER TO postgres;

--
-- Name: products_productattribute_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.products_productattribute ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.products_productattribute_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: products_productphoto; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.products_productphoto (
    id bigint NOT NULL,
    photo character varying(100) NOT NULL,
    product_id bigint NOT NULL
);


ALTER TABLE public.products_productphoto OWNER TO postgres;

--
-- Name: products_productphoto_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.products_productphoto ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.products_productphoto_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: users_user; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users_user (
    id bigint NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    username character varying(150) NOT NULL,
    first_name character varying(150) NOT NULL,
    last_name character varying(150) NOT NULL,
    email character varying(254) NOT NULL,
    is_staff boolean NOT NULL,
    is_active boolean NOT NULL,
    date_joined timestamp with time zone NOT NULL,
    avatar character varying(100),
    phone_number character varying(11)
);


ALTER TABLE public.users_user OWNER TO postgres;

--
-- Name: users_user_groups; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users_user_groups (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.users_user_groups OWNER TO postgres;

--
-- Name: users_user_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.users_user_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.users_user_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: users_user_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.users_user ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.users_user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: users_user_user_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users_user_user_permissions (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.users_user_user_permissions OWNER TO postgres;

--
-- Name: users_user_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.users_user_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.users_user_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: auth_group; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_group (id, name) FROM stdin;
\.


--
-- Data for Name: auth_group_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_group_permissions (id, group_id, permission_id) FROM stdin;
\.


--
-- Data for Name: auth_permission; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: community_productcomment; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.community_productcomment (id, text, created_at, parent_id, product_id, author_id) FROM stdin;
\.


--
-- Data for Name: community_productreview; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.community_productreview (id, text, created_at, rating, product_id, author_id) FROM stdin;
2	good product	2024-08-12 11:12:15.966461+03	4	75	2
3	╨Э╨╡╨┐╨╗╨╛╤Е╨░╤П ╨▓╨╕╨┤╨╡╨╛╨║╨░╤А╤В╨░, ╨╜╨╛ ╨┤╨╛╤А╨╛╨│╨░╤П ╨╖╨░ ╤Б╨▓╨╛╤О ╨╝╨╛╤Й╨╜╨╛╤Б╤В╤М, ╨╗╤Г╤З╤И╨╡ ╨▒╤А╨░╤В╤М GTX 1080 ╨║╨╛╤В╨╛╤А╨░╤П ╨╜╨░╨╝╨╜╨╛╨│╨╛ ╨╝╨╛╤Й╨╜╨╡╨╡	2024-08-12 11:13:24.217124+03	3	75	3
1	╨Т╤Б╨╡ ╨╛╤В╨╗╨╕╤З╨╜╨╛	2024-08-11 01:48:59.759975+03	5	75	1
\.


--
-- Data for Name: community_productreviewcomment; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.community_productreviewcomment (id, text, created_at, review_id, author_id) FROM stdin;
\.


--
-- Data for Name: community_usercomment; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.community_usercomment (id, text, created_at, author_id, parent_id, user_id) FROM stdin;
\.


--
-- Data for Name: django_admin_log; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: django_content_type; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: django_migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: django_session; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: orders_cart; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.orders_cart (id, created_at, updated_at, user_id) FROM stdin;
2	2024-08-16 01:11:02.50485+03	2024-08-16 01:11:02.50485+03	1
\.


--
-- Data for Name: orders_cartitem; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.orders_cartitem (id, quantity, created_at, updated_at, cart_id, product_id) FROM stdin;
\.


--
-- Data for Name: orders_order; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: orders_orderitem; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: products_attribute; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.products_attribute (id, name) FROM stdin;
1	╨Ю╨▒╤К╨╡╨╝ ╨┐╨░╨╝╤П╤В╨╕
2	╨в╨╕╨┐ ╨┐╨░╨╝╤П╤В╨╕
\.


--
-- Data for Name: products_attributevalue; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.products_attributevalue (id, value, attribute_id) FROM stdin;
1	12 GB	1
2	8 ╨У╨С	1
3	6 ╨У╨С	1
5	GDDR6	2
\.


--
-- Data for Name: products_category; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: products_favorite; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.products_favorite (id, created_at, product_id, user_id) FROM stdin;
226	2024-08-20 04:34:48.669267+03	67	1
230	2024-08-20 04:37:22.034016+03	66	1
231	2024-08-20 04:37:42.537171+03	65	1
232	2024-08-20 04:37:44.22055+03	64	1
234	2024-08-22 18:55:21.453459+03	76	1
236	2024-08-26 06:43:45.156822+03	39	1
238	2024-08-26 06:43:48.405721+03	40	1
254	2024-08-26 07:07:07.142067+03	41	1
255	2024-08-26 07:22:10.878097+03	75	1
\.


--
-- Data for Name: products_filter; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.products_filter (id, attribute_id, category_id) FROM stdin;
1	1	8
2	2	8
\.


--
-- Data for Name: products_pricehistory; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: products_product; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: products_productattribute; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.products_productattribute (id, attribute_value_id, product_id) FROM stdin;
1	3	75
2	3	76
3	5	75
4	5	76
\.


--
-- Data for Name: products_productphoto; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.products_productphoto (id, photo, product_id) FROM stdin;
1	products_photos/photo_5_2024-08-11_06-43-53.jpg	75
2	products_photos/photo_6_2024-08-11_06-43-53.jpg	75
3	products_photos/photo_7_2024-08-11_06-43-53.jpg	75
4	products_photos/photo_2_2024-08-11_06-43-53.jpg	76
\.


--
-- Data for Name: users_user; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: users_user_groups; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.users_user_groups (id, user_id, group_id) FROM stdin;
\.


--
-- Data for Name: users_user_user_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.users_user_user_permissions (id, user_id, permission_id) FROM stdin;
\.


--
-- Name: auth_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_group_id_seq', 1, false);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_group_permissions_id_seq', 1, false);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_permission_id_seq', 100, true);


--
-- Name: community_productcomment_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.community_productcomment_id_seq', 1, false);


--
-- Name: community_productreview_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.community_productreview_id_seq', 3, true);


--
-- Name: community_productreviewcomment_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.community_productreviewcomment_id_seq', 1, false);


--
-- Name: community_usercomment_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.community_usercomment_id_seq', 1, false);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_admin_log_id_seq', 108, true);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_content_type_id_seq', 25, true);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_migrations_id_seq', 49, true);


--
-- Name: orders_cart_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.orders_cart_id_seq', 2, true);


--
-- Name: orders_cartitem_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.orders_cartitem_id_seq', 91, true);


--
-- Name: orders_order_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.orders_order_id_seq', 18, true);


--
-- Name: orders_orderitem_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.orders_orderitem_id_seq', 46, true);


--
-- Name: products_attribute_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.products_attribute_id_seq', 2, true);


--
-- Name: products_attributevalue_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.products_attributevalue_id_seq', 5, true);


--
-- Name: products_category_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.products_category_id_seq', 18, true);


--
-- Name: products_favorite_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.products_favorite_id_seq', 255, true);


--
-- Name: products_filter_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.products_filter_id_seq', 2, true);


--
-- Name: products_pricehistory_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.products_pricehistory_id_seq', 104, true);


--
-- Name: products_product_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.products_product_id_seq', 100, true);


--
-- Name: products_productattribute_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.products_productattribute_id_seq', 4, true);


--
-- Name: products_productphoto_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.products_productphoto_id_seq', 4, true);


--
-- Name: users_user_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.users_user_groups_id_seq', 1, false);


--
-- Name: users_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.users_user_id_seq', 5, true);


--
-- Name: users_user_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.users_user_user_permissions_id_seq', 1, false);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: community_productcomment community_productcomment_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.community_productcomment
    ADD CONSTRAINT community_productcomment_pkey PRIMARY KEY (id);


--
-- Name: community_productreview community_productreview_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.community_productreview
    ADD CONSTRAINT community_productreview_pkey PRIMARY KEY (id);


--
-- Name: community_productreviewcomment community_productreviewcomment_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.community_productreviewcomment
    ADD CONSTRAINT community_productreviewcomment_pkey PRIMARY KEY (id);


--
-- Name: community_usercomment community_usercomment_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.community_usercomment
    ADD CONSTRAINT community_usercomment_pkey PRIMARY KEY (id);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: orders_cart orders_cart_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders_cart
    ADD CONSTRAINT orders_cart_pkey PRIMARY KEY (id);


--
-- Name: orders_cart orders_cart_user_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders_cart
    ADD CONSTRAINT orders_cart_user_id_key UNIQUE (user_id);


--
-- Name: orders_cartitem orders_cartitem_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders_cartitem
    ADD CONSTRAINT orders_cartitem_pkey PRIMARY KEY (id);


--
-- Name: orders_order orders_order_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders_order
    ADD CONSTRAINT orders_order_pkey PRIMARY KEY (id);


--
-- Name: orders_orderitem orders_orderitem_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders_orderitem
    ADD CONSTRAINT orders_orderitem_pkey PRIMARY KEY (id);


--
-- Name: products_attribute products_attribute_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products_attribute
    ADD CONSTRAINT products_attribute_pkey PRIMARY KEY (id);


--
-- Name: products_attributevalue products_attributevalue_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products_attributevalue
    ADD CONSTRAINT products_attributevalue_pkey PRIMARY KEY (id);


--
-- Name: products_category products_category_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products_category
    ADD CONSTRAINT products_category_pkey PRIMARY KEY (id);


--
-- Name: products_favorite products_favorite_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products_favorite
    ADD CONSTRAINT products_favorite_pkey PRIMARY KEY (id);


--
-- Name: products_favorite products_favorite_user_id_product_id_daf9efdd_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products_favorite
    ADD CONSTRAINT products_favorite_user_id_product_id_daf9efdd_uniq UNIQUE (user_id, product_id);


--
-- Name: products_filter products_filter_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products_filter
    ADD CONSTRAINT products_filter_pkey PRIMARY KEY (id);


--
-- Name: products_pricehistory products_pricehistory_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products_pricehistory
    ADD CONSTRAINT products_pricehistory_pkey PRIMARY KEY (id);


--
-- Name: products_product products_product_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products_product
    ADD CONSTRAINT products_product_pkey PRIMARY KEY (id);


--
-- Name: products_productattribute products_productattribut_product_id_attribute_val_79d7cfd2_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products_productattribute
    ADD CONSTRAINT products_productattribut_product_id_attribute_val_79d7cfd2_uniq UNIQUE (product_id, attribute_value_id);


--
-- Name: products_productattribute products_productattribute_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products_productattribute
    ADD CONSTRAINT products_productattribute_pkey PRIMARY KEY (id);


--
-- Name: products_productphoto products_productphoto_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products_productphoto
    ADD CONSTRAINT products_productphoto_pkey PRIMARY KEY (id);


--
-- Name: users_user_groups users_user_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_user_groups
    ADD CONSTRAINT users_user_groups_pkey PRIMARY KEY (id);


--
-- Name: users_user_groups users_user_groups_user_id_group_id_b88eab82_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_user_groups
    ADD CONSTRAINT users_user_groups_user_id_group_id_b88eab82_uniq UNIQUE (user_id, group_id);


--
-- Name: users_user users_user_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_user
    ADD CONSTRAINT users_user_pkey PRIMARY KEY (id);


--
-- Name: users_user_user_permissions users_user_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_user_user_permissions
    ADD CONSTRAINT users_user_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: users_user_user_permissions users_user_user_permissions_user_id_permission_id_43338c45_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_user_user_permissions
    ADD CONSTRAINT users_user_user_permissions_user_id_permission_id_43338c45_uniq UNIQUE (user_id, permission_id);


--
-- Name: users_user users_user_username_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_user
    ADD CONSTRAINT users_user_username_key UNIQUE (username);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: community_productcomment_parent_id_5f8df9c3; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX community_productcomment_parent_id_5f8df9c3 ON public.community_productcomment USING btree (parent_id);


--
-- Name: community_productcomment_product_id_eabef5f1; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX community_productcomment_product_id_eabef5f1 ON public.community_productcomment USING btree (product_id);


--
-- Name: community_productcomment_user_id_4c9cfe31; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX community_productcomment_user_id_4c9cfe31 ON public.community_productcomment USING btree (author_id);


--
-- Name: community_productreview_product_id_9e12e16b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX community_productreview_product_id_9e12e16b ON public.community_productreview USING btree (product_id);


--
-- Name: community_productreview_user_id_601bc7ec; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX community_productreview_user_id_601bc7ec ON public.community_productreview USING btree (author_id);


--
-- Name: community_productreviewcomment_review_id_3b42f00b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX community_productreviewcomment_review_id_3b42f00b ON public.community_productreviewcomment USING btree (review_id);


--
-- Name: community_productreviewcomment_user_id_44561767; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX community_productreviewcomment_user_id_44561767 ON public.community_productreviewcomment USING btree (author_id);


--
-- Name: community_usercomment_author_id_b5f64f76; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX community_usercomment_author_id_b5f64f76 ON public.community_usercomment USING btree (author_id);


--
-- Name: community_usercomment_parent_id_781dabfa; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX community_usercomment_parent_id_781dabfa ON public.community_usercomment USING btree (parent_id);


--
-- Name: community_usercomment_user_id_243e0164; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX community_usercomment_user_id_243e0164 ON public.community_usercomment USING btree (user_id);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: orders_cartitem_cart_id_529df5fa; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX orders_cartitem_cart_id_529df5fa ON public.orders_cartitem USING btree (cart_id);


--
-- Name: orders_cartitem_product_id_55063ee7; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX orders_cartitem_product_id_55063ee7 ON public.orders_cartitem USING btree (product_id);


--
-- Name: orders_order_user_id_e9b59eb1; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX orders_order_user_id_e9b59eb1 ON public.orders_order USING btree (user_id);


--
-- Name: orders_orderitem_order_id_fe61a34d; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX orders_orderitem_order_id_fe61a34d ON public.orders_orderitem USING btree (order_id);


--
-- Name: orders_orderitem_product_id_afe4254a; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX orders_orderitem_product_id_afe4254a ON public.orders_orderitem USING btree (product_id);


--
-- Name: products_attributevalue_attribute_id_82b9ba3c; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX products_attributevalue_attribute_id_82b9ba3c ON public.products_attributevalue USING btree (attribute_id);


--
-- Name: products_category_parent_id_3388f6c9; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX products_category_parent_id_3388f6c9 ON public.products_category USING btree (parent_id);


--
-- Name: products_favorite_product_id_f8265054; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX products_favorite_product_id_f8265054 ON public.products_favorite USING btree (product_id);


--
-- Name: products_favorite_user_id_cd8466da; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX products_favorite_user_id_cd8466da ON public.products_favorite USING btree (user_id);


--
-- Name: products_filter_attribute_id_57b509e5; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX products_filter_attribute_id_57b509e5 ON public.products_filter USING btree (attribute_id);


--
-- Name: products_filter_category_id_4b5bd4d3; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX products_filter_category_id_4b5bd4d3 ON public.products_filter USING btree (category_id);


--
-- Name: products_pricehistory_product_id_1fc0e3fe; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX products_pricehistory_product_id_1fc0e3fe ON public.products_pricehistory USING btree (product_id);


--
-- Name: products_product_category_id_9b594869; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX products_product_category_id_9b594869 ON public.products_product USING btree (category_id);


--
-- Name: products_productattribute_attribute_value_id_868c3a61; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX products_productattribute_attribute_value_id_868c3a61 ON public.products_productattribute USING btree (attribute_value_id);


--
-- Name: products_productattribute_product_id_b9a86828; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX products_productattribute_product_id_b9a86828 ON public.products_productattribute USING btree (product_id);


--
-- Name: products_productphoto_product_id_93bcbc5e; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX products_productphoto_product_id_93bcbc5e ON public.products_productphoto USING btree (product_id);


--
-- Name: users_user_groups_group_id_9afc8d0e; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX users_user_groups_group_id_9afc8d0e ON public.users_user_groups USING btree (group_id);


--
-- Name: users_user_groups_user_id_5f6f5a90; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX users_user_groups_user_id_5f6f5a90 ON public.users_user_groups USING btree (user_id);


--
-- Name: users_user_user_permissions_permission_id_0b93982e; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX users_user_user_permissions_permission_id_0b93982e ON public.users_user_user_permissions USING btree (permission_id);


--
-- Name: users_user_user_permissions_user_id_20aca447; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX users_user_user_permissions_user_id_20aca447 ON public.users_user_user_permissions USING btree (user_id);


--
-- Name: users_user_username_06e46fe6_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX users_user_username_06e46fe6_like ON public.users_user USING btree (username varchar_pattern_ops);


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: community_productcomment community_productcom_parent_id_5f8df9c3_fk_community; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.community_productcomment
    ADD CONSTRAINT community_productcom_parent_id_5f8df9c3_fk_community FOREIGN KEY (parent_id) REFERENCES public.community_productcomment(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: community_productcomment community_productcom_product_id_eabef5f1_fk_products_; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.community_productcomment
    ADD CONSTRAINT community_productcom_product_id_eabef5f1_fk_products_ FOREIGN KEY (product_id) REFERENCES public.products_product(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: community_productcomment community_productcomment_author_id_ab2dbd4d_fk_users_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.community_productcomment
    ADD CONSTRAINT community_productcomment_author_id_ab2dbd4d_fk_users_user_id FOREIGN KEY (author_id) REFERENCES public.users_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: community_productreviewcomment community_productrev_author_id_b75462aa_fk_users_use; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.community_productreviewcomment
    ADD CONSTRAINT community_productrev_author_id_b75462aa_fk_users_use FOREIGN KEY (author_id) REFERENCES public.users_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: community_productreview community_productrev_product_id_9e12e16b_fk_products_; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.community_productreview
    ADD CONSTRAINT community_productrev_product_id_9e12e16b_fk_products_ FOREIGN KEY (product_id) REFERENCES public.products_product(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: community_productreviewcomment community_productrev_review_id_3b42f00b_fk_community; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.community_productreviewcomment
    ADD CONSTRAINT community_productrev_review_id_3b42f00b_fk_community FOREIGN KEY (review_id) REFERENCES public.community_productreview(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: community_productreview community_productreview_author_id_f46be3d2_fk_users_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.community_productreview
    ADD CONSTRAINT community_productreview_author_id_f46be3d2_fk_users_user_id FOREIGN KEY (author_id) REFERENCES public.users_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: community_usercomment community_usercommen_parent_id_781dabfa_fk_community; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.community_usercomment
    ADD CONSTRAINT community_usercommen_parent_id_781dabfa_fk_community FOREIGN KEY (parent_id) REFERENCES public.community_usercomment(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: community_usercomment community_usercomment_author_id_b5f64f76_fk_users_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.community_usercomment
    ADD CONSTRAINT community_usercomment_author_id_b5f64f76_fk_users_user_id FOREIGN KEY (author_id) REFERENCES public.users_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: community_usercomment community_usercomment_user_id_243e0164_fk_users_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.community_usercomment
    ADD CONSTRAINT community_usercomment_user_id_243e0164_fk_users_user_id FOREIGN KEY (user_id) REFERENCES public.users_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_users_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_users_user_id FOREIGN KEY (user_id) REFERENCES public.users_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: orders_cart orders_cart_user_id_121a069e_fk_users_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders_cart
    ADD CONSTRAINT orders_cart_user_id_121a069e_fk_users_user_id FOREIGN KEY (user_id) REFERENCES public.users_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: orders_cartitem orders_cartitem_cart_id_529df5fa_fk_orders_cart_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders_cartitem
    ADD CONSTRAINT orders_cartitem_cart_id_529df5fa_fk_orders_cart_id FOREIGN KEY (cart_id) REFERENCES public.orders_cart(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: orders_cartitem orders_cartitem_product_id_55063ee7_fk_products_product_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders_cartitem
    ADD CONSTRAINT orders_cartitem_product_id_55063ee7_fk_products_product_id FOREIGN KEY (product_id) REFERENCES public.products_product(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: orders_order orders_order_user_id_e9b59eb1_fk_users_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders_order
    ADD CONSTRAINT orders_order_user_id_e9b59eb1_fk_users_user_id FOREIGN KEY (user_id) REFERENCES public.users_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: orders_orderitem orders_orderitem_order_id_fe61a34d_fk_orders_order_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders_orderitem
    ADD CONSTRAINT orders_orderitem_order_id_fe61a34d_fk_orders_order_id FOREIGN KEY (order_id) REFERENCES public.orders_order(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: orders_orderitem orders_orderitem_product_id_afe4254a_fk_products_product_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders_orderitem
    ADD CONSTRAINT orders_orderitem_product_id_afe4254a_fk_products_product_id FOREIGN KEY (product_id) REFERENCES public.products_product(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: products_attributevalue products_attributeva_attribute_id_82b9ba3c_fk_products_; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products_attributevalue
    ADD CONSTRAINT products_attributeva_attribute_id_82b9ba3c_fk_products_ FOREIGN KEY (attribute_id) REFERENCES public.products_attribute(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: products_category products_category_parent_id_3388f6c9_fk_products_category_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products_category
    ADD CONSTRAINT products_category_parent_id_3388f6c9_fk_products_category_id FOREIGN KEY (parent_id) REFERENCES public.products_category(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: products_favorite products_favorite_product_id_f8265054_fk_products_product_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products_favorite
    ADD CONSTRAINT products_favorite_product_id_f8265054_fk_products_product_id FOREIGN KEY (product_id) REFERENCES public.products_product(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: products_favorite products_favorite_user_id_cd8466da_fk_users_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products_favorite
    ADD CONSTRAINT products_favorite_user_id_cd8466da_fk_users_user_id FOREIGN KEY (user_id) REFERENCES public.users_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: products_filter products_filter_attribute_id_57b509e5_fk_products_attribute_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products_filter
    ADD CONSTRAINT products_filter_attribute_id_57b509e5_fk_products_attribute_id FOREIGN KEY (attribute_id) REFERENCES public.products_attribute(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: products_filter products_filter_category_id_4b5bd4d3_fk_products_category_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products_filter
    ADD CONSTRAINT products_filter_category_id_4b5bd4d3_fk_products_category_id FOREIGN KEY (category_id) REFERENCES public.products_category(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: products_pricehistory products_pricehistor_product_id_1fc0e3fe_fk_products_; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products_pricehistory
    ADD CONSTRAINT products_pricehistor_product_id_1fc0e3fe_fk_products_ FOREIGN KEY (product_id) REFERENCES public.products_product(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: products_product products_product_category_id_9b594869_fk_products_category_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products_product
    ADD CONSTRAINT products_product_category_id_9b594869_fk_products_category_id FOREIGN KEY (category_id) REFERENCES public.products_category(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: products_productattribute products_productattr_attribute_value_id_868c3a61_fk_products_; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products_productattribute
    ADD CONSTRAINT products_productattr_attribute_value_id_868c3a61_fk_products_ FOREIGN KEY (attribute_value_id) REFERENCES public.products_attributevalue(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: products_productattribute products_productattr_product_id_b9a86828_fk_products_; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products_productattribute
    ADD CONSTRAINT products_productattr_product_id_b9a86828_fk_products_ FOREIGN KEY (product_id) REFERENCES public.products_product(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: products_productphoto products_productphot_product_id_93bcbc5e_fk_products_; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products_productphoto
    ADD CONSTRAINT products_productphot_product_id_93bcbc5e_fk_products_ FOREIGN KEY (product_id) REFERENCES public.products_product(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: users_user_groups users_user_groups_group_id_9afc8d0e_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_user_groups
    ADD CONSTRAINT users_user_groups_group_id_9afc8d0e_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: users_user_groups users_user_groups_user_id_5f6f5a90_fk_users_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_user_groups
    ADD CONSTRAINT users_user_groups_user_id_5f6f5a90_fk_users_user_id FOREIGN KEY (user_id) REFERENCES public.users_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: users_user_user_permissions users_user_user_perm_permission_id_0b93982e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_user_user_permissions
    ADD CONSTRAINT users_user_user_perm_permission_id_0b93982e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: users_user_user_permissions users_user_user_permissions_user_id_20aca447_fk_users_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_user_user_permissions
    ADD CONSTRAINT users_user_user_permissions_user_id_20aca447_fk_users_user_id FOREIGN KEY (user_id) REFERENCES public.users_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- PostgreSQL database dump complete
--

